body {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2%;
  background-color: #1f2737;
  color: #e5e7eb;
}

header div {
  display: flex;
  align-items: center;
  padding: 2%;
  
}

header a {
    color: #f9faf8;
    text-decoration: none;
    padding: 0px 10px;
    margin: 0 10px%;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8 ;
}

.top {
    display: flex;
    color: #f9faf8;
    background-color: #1f2737;
    color: #e5e7eb;
    padding: 10% 15%;
    gap: 5%
}

.top img {
    width: 300px;
    height: auto;
}

.top p {
  font-size: 18px;
  
}

.top-left button{
  background-color: #3882f6;
  color: white;
  border-radius: 6px;
  padding: 2% 4%;
  font-weight: bold;
}

.raninf {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.top-left {
  text-align:start;
}

.midarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.midarea h2 {
  font-size: 36px;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.botarea {
  padding: 2% 20%;
  background-color: #e5e7eb;
}

.botarea p {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.signature {
  font-style: normal;
  font-weight: bold;
}

.mid-bot {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  text-align: center;
  width: 60%;
}

.imgholder {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border: solid #3882f6 4px;
  border-radius: 8px;
  
}

.imgholder img {
  width: 112%;
  height: auto;
}

.bot2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882f6;
  color: white;
  margin: 5% 10%;
  border-radius: 8px;
  gap: 10%;
  padding: 4% 4%;
}

.bottitle {
  font-weight: bold;
}

.bot2 p {
  margin: 0;
}

.bot2 button {
  background-color: #3882f6 ;
  border: solid white 2px;
  color: white;
  border-radius: 4px;
}

footer {
  color: white;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
